/bin/
/.classpath
*.project
*.stackdump
*.rar
*.prefs
src/test/AiTest.java
src/test/WeaponsTest.java
src/entity/Entity.java
.idea/.name
.idea/compiler.xml
.idea/workspace.xml
.idea/misc.xml
.idea/modules.xml
.idea/dictionaries/1335968.xml
.idea/copyright/profiles_settings.xml
UFRLRPG.iml
.idea/vcs.xml
src/img/Thumbs.db
